.container-autorization {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.788);
}

.authorization, 
.registration {
    display: none;
    text-align: center;
    width: 450px;
    height: 400px;
    border: 3px solid #8100fa;
    border-radius: 50px;
    background-color: #fff;
}

.registration {
    height: 480px;
}

.authorization>h1,
.registration>h1 {
    margin-top: 40px !important;
}

.authorization>input,
.registration>input {
    border: 2px solid #8100fa;
    border-radius: 20px;
    margin-top: 30px;
    padding-left: 15px;
}

.authorization>input:focus,
.registration>input:focus {
    outline: none;
}

.authorization>button,
.registration>button {
    width: 170px;
    border: 2px solid #8100fa;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 30px;
}

.on {
    display: block;
}

.off {
    display: none;
}