body {
    display: block;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    border: 2px solid #8100fa;
    margin: 20px !important;
}

header>p {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px !important;
}

#profileImgHeader{
    background-color: #fff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #000000;
    border-radius: 100%;
    margin-right: 50px !important;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 20px !important;
}

menu {
    width: 190px;
    height: 230px;
    background-color: rgb(241, 241, 241);
    border: 2px solid #8100fa;
    border-radius: 20px;
}

menu>button {
    width: 80%;
    margin: 15px;
    border: none;
}

.active {
    background-color: #ba78f8;
}

main {
    width: 88%;
    height: 82vh;
    border: 2px solid #8100fa;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}